.card-homestay-homepage{
     width: 270px;
     border-radius: 10px;
     padding: 10px;
     padding-bottom: 30px;
    
     .list-image-preview{
        width: 100%;
        img{
            border-radius: 10px; /* Hoặc giá trị mong muốn */
            object-fit: cover; /* Đảm bảo ảnh không bị biến dạng */
            width: 100%; /* Đảm bảo ảnh đầy đủ chiều rộng */
            height: 220px;
            max-height: 55%; /* Tự động điều chỉnh chiều cao */
        }
     }

     .heart-icon {
        display: flex;
        justify-content: center;
        background-color: white;
        position: absolute;
        top: 14px;  /* khoảng cách từ trên xuống */
        right: 16px; /* khoảng cách từ bên phải */
        z-index: 1000; /* đặt z-index */
        width: 30px;  /* chiều rộng */
        height: 30px; /* chiều cao */
        border-radius: 50%; /* tạo hình tròn */
        text-align: center; /* căn giữa nội dung */
        align-items: center; /* căn giữa theo chiều dọc */
    }
    
     
}
