@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0; /* Tắt margin mặc định */
  padding: 0; /* Tắt padding mặc định */
  box-sizing: border-box; /* Đảm bảo padding và border không làm tăng kích thước tổng thể */
}
.custom .ant-select-selection-placeholder {
  font-size: 18px; /* Placeholder chữ lớn hơn */
}

.custom .ant-select-item-option-content {
  font-size: 18px; /* Tăng kích thước chữ của các options */
}

.ant-form .ck-editor__editable {
  min-height: 120px !important;
}
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

